.catalog {
  display: grid;
  gap: 48px;
  justify-content: center;
  grid-template-columns: repeat(1, $card-width);

  @each $columns, $width in $media-properties {
    @media (min-width: $width) {
      grid-template-columns: repeat($columns, $card-width);
    }
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
